<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction %>
</p>

<p>
  <strong>Who:</strong>
  <%= @user.who %>
</p>

<p>
  <strong>Want:</strong>
  <%= @user.want %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
